<!-- <!DOCTYPE html>

<head>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head> -->

<!-- <body> -->
<div class="container mt-3">
	<span>
		<a #download id="download"><button type="button" class="btn btn-primary mb-4">Download</button></a>
	</span>
	<button #stop type="button" class="btn btn-danger" id="stop" (click)="stopRecording()" [disabled]="!started">Stop</button>
	<button type="button" (click)="recordScreen()" class="btn btn-info">Record Screen</button>
	<div class="p-5">
		<video #video autoplay height="480" width="640" muted></video>
	</div>
</div>
<!-- </body> -->
